.sidenav {
  background-color: #020718;
  width: 200px;
}

.sidenav a {
  color: #aaa;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #ddd;
  margin-top: -1;
  padding-top: -1;
  height: 81vh;
}